.section {
  background-color: var(--background);
  color: var(--text-prominent);
}

.section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--content-prominent);
}

.section p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: var(--text-base);
}

.sectionDark {
  background-color: var(--background-dark);
  color: var(--text-prominent-dark);
  padding: 2rem;
}

.sectionDark h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--content-prominent-dark);
}

.sectionDark p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: var(--text-base-dark);
}
