/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/components/Navbar/Navbar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/

.Navbar_navbar__7Exjr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 1rem;
  z-index: 100;
}

.Navbar_navbar-nav__AGCBw {
  display: flex;
  justify-content: center; /* Align links in the center */
}

.Navbar_navbar-nav__AGCBw .Navbar_nav-link__sqvdG {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--font-color);
  margin: 0 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.Navbar_navbar-nav__AGCBw .Navbar_nav-link__sqvdG:hover {
  color: var(--font-hover-color);
  text-decoration: none;
}

.Navbar_navbar__7Exjr span {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--font-color);
  margin: 0 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
  
.Navbar_navbar__7Exjr span:hover {
  color: var(--font-hover-color);
}

