/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/components/Navbar/Navbar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/

.Navbar_navbar__7Exjr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
  }
  
  .Navbar_navbar__7Exjr span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
    margin: 0 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .Navbar_navbar__7Exjr span:hover {
    color: #0070f3;
  }
  
  
