/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/components/HomeSection/HomeSection.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.HomeSection_section__8uOqS {
  background-color: var(--background);
  color: var(--text-prominent);
  padding: 2rem;
}

.HomeSection_section__8uOqS h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--content-prominent);
}

.HomeSection_section__8uOqS p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: var(--text-base);
}

.HomeSection_sectionDark__empLn {
  background-color: var(--background-dark);
  color: var(--text-prominent-dark);
  padding: 2rem;
}

.HomeSection_sectionDark__empLn h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--content-prominent-dark);
}

.HomeSection_sectionDark__empLn p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: var(--text-base-dark);
}

