@import "bootstrap/dist/css/bootstrap";
@import "./color-palette.css";

body {
  background-color: var(--background);
  padding-top: 40px;
}

a {
  text-decoration: none;
}

.text-prominent {
  color: var(--text-prominent);
}

.text-base {
  color: var(--text-base);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--text-base);
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:focus {
  color: var(--text-focused);
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--text-hover);
  text-decoration: none;
}
